<title>LLOA GALERIA</title>
<!--GALLERY STYKES-->
<link rel="stylesheet" href="/css/gallery.css">
<main class="main">
    <br>
    <h1 class="title">Galería Sitios de LLOA </h1>
    <section class="gallery">
        <figute class="gallery_picture gallery_picture--g1">
            <img src="/img/photoLloa/alojamiento.jpeg" class="gallery__img" >
        </figute>
        <figure class="gallery_picture gallery_picture--g2">
            <img src="/img/photoLloa/estatua_toro.jpeg" class="gallery__img" >
        </figure>
        <figure class="gallery_picture gallery_picture--g3">
            <img src="/img/photoLloa/fauna.jpeg" class="gallery__img" >
        </figure>
        <figure class="gallery_picture gallery_picture--g4">
            <img src="/img/photoLloa/feria.jpeg" class="gallery__img" >
        </figure>
        <figure class="gallery_picture gallery_picture--g5">
            <img src="/img/photoLloa/flora.jpeg" class="gallery__img" >
        </figure>
        <figure class="gallery_picture gallery_picture--g6">
            <img src="/img/photoLloa/templo.jpeg" class="gallery__img" >
        </figure>
        <figure class="gallery_picture gallery_picture--g7">
            <img src="/img/photoLloa/gastronomía.jpeg" class="gallery__img" >
        </figure>
        <figure class="gallery_picture gallery_picture--g8">
            <img src="/img/photoLloa/iglesia.jpeg" class="gallery__img" >
        </figure>
        <figure class="gallery_picture gallery_picture--g9">
            <img src="/img/photoLloa/monstañas.jpeg" class="gallery__img" >
        </figure>
        <figure class="gallery_picture gallery_picture--g10">
                <img src="/img/photoLloa/pueblo.jpeg" class="gallery__img" >
        </figure>
        <figure class="gallery_picture gallery_picture--g11">
                <img src="/img/photoLloa/volcan.jpeg" class="gallery__img" >
        </figure>
        <figure class="gallery_picture gallery_picture--g12">
                <img src="/img/photoLloa/paisaje.jpg" class="gallery__img" >
        </figure>
    </section>
</main>