<div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center">Actualizar el video</h5>
                    <form action="/video/edit/{{video.id}}" method="post" enctype="multipart/form-data">
                        <div class="mb-3">
                            <div class="row">
                                <div class="col">
                                    <label for="" class="form-label">Título</label>
                                    <input type="title" name="title" value="{{video.title}}" class="form-control" placeholder="Título" autofocus required>
                                </div>
                                <div class="col">
                                    <label for="" class="form-label">Subir Video</label>
                                    <input type="file" name="file" class="form-control" required>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="" class="form-label">Descripción</label>
                            <textarea type="text" name="description" onkeyup="countChars(this);" maxlength="500" class="form-control" rows="6" placeholder="Descripción de la Imagen" > {{video.description}} </textarea>
                            <p id="charNum">0/500 caracteres</p>
                        </div>
                        <div class="mb-3">
                            <button class="btn btn-success">
                                Actualizar Video
                            </button>
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <video src="/img/img_uploads/{{video.file}}" width="100%" loop autoplay controls></video>
                </div>
            </div>
            <h6 class="my-4"><a href="/video/show" class="link-success">Regresar</a></h6>
        </div>
    </div>
</div>

<script>
    function countChars(obj){
        var maxLength = 500;
        var strLength = obj.value.length;
        document.getElementById("charNum").innerHTML = strLength+'/'+maxLength+' caracteres';
    }
</script>