<div class="footer">
    <footer>
        <div class="container">
            <div class="row justify-content-center" >
                <div class="card" style="width: 25rem; background:transparent;border-style: none; text-align: center;">
                        <div class="card-body">
                    <h4>Contactanos</h4>
                        <form class="">
                            <input type="text" class="form-control form-control-sm"  name="Nombre" placeholder="Nombre"><br/>
                            <input type="text" class="form-control form-control-sm" name="Correo" placeholder="Correo"><br/>
                            <input type="text" class="form-control form-control-sm" name="Telefono" placeholder="Telefono"><br/>
                            <textarea name="mensaje" class="form-control form-control-sm" placeholder="Escriba aquí su mensaje"></textarea><br/>
                            <button class="btn btn-secondary">SUBMIT</button>
                        </form>
                    </div>
                </div>
            </div> 
            <br>
            <div class="row text-center">  
                <div class="footer-top"> 
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-4">
                                <a href="https://www.facebook.com/TurismoLloa/" target="_blank"><i class="fab fa-facebook-f fa-2x"></i></a>
                            </div>
                            <div class="col-4">
                                <a href="https://www.google.com/maps/place/Lloa/@-0.25,-78.6008426,14z
                                    /data=!3m1!4b1!4m5!3m4!1s0x91d59edc7e48f427:0x76f5c78bc7d3a327!
                                    8m2!3d-0.25!4d-78.583333" target="_blank"><i class="fas fa-map-marker-alt fa-2x"></i></a>
                            </div>
                        </div>
                    </div>   
                </div>
            </div>        
        </div>
    </footer>

    <div class="copyright">
        <div class="container">
            <div class="row text-center">
            <p>© 2022 All rights reserved</p>
            </div>
        </div>
    </div>
</div>

