{{#if user}}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid m-8">
            <a class="navbar-brand" href="/profile">GAP LLOA</a>
            <div class="collapse navbar-collapse d-flex justify-content-end mx-5" id="navbarNavDropdown">
                <ul class=" nav navbar-nav d-flex justify-content-around mx-5" style="width: 55%;">
                    <li class="nav-item">
                        <a class="nav-link " aria-current="page" href="/blog/show">Blogs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/gallery/show">Galeria</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/new/show">Eventos</a>
                    </li>
                    <li class="nav-item dropdown ">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-bars fa-1x"></i>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a href="/profile" class="dropdown-item" ><i class="fas fa-user-alt"></i> Perfil </a></li>
                            <li><a href="/logaut" class="dropdown-item" ><i class="fas fa-sign-out-alt"></i> Cerrar Sección</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{{else}}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid m-8">
            <a class="navbar-brand" href="/">
                <img id="logo" class=".img_size_navbar" src="/img/logo_lloa.png"></a>
            <div class="collapse navbar-collapse d-flex justify-content-end mx-5" id="navbarNavDropdown">
                <ul class=" nav navbar-nav d-flex justify-content-around mx-5" style="width: 55%;">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/blog">Blogs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/gallery">Galeria</a>
                    </li>
                    <li class="nav-item">
                         <a class="nav-link" href="/new">Noticias</a>
                    </li>
                     <li class="nav-item">
                        <a class="nav-link" href="/signin">Login</a>
                    </li>
                    <li class="nav-item">
                        <a href="/" class="nav-link active"><i class="fas fa-home"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{{/if}}